
@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/Shared/_MasterLayoutAdmin.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">

        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            Testimonial
        </h3>
        <div id="DivViewTest">
            <div class="page-bar" id="DivViewHeader">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href='@Url.Action("dashboard","admin")'>Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href='@Url.Action("Testimonial","admin")'>Testimonial</a>
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            Actions <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href='@Url.Action("dashboard","admin")'>Back</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" id="DivView">
                <div class="form-group last" style="display:none">
                    @*<div class="row">*@
                    <label class="control-label col-md-2">Short Description <span class="required" aria-required="true"> * </span></label>
                    <div class="col-md-8">
                        <textarea class="ckeditor form-control" id="TxtMaiTestimoni" name="txtaboutcont"></textarea>
                    </div>
                    @*</div>*@
                </div>
                <div class="col-md-12">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="btn-group pull-right">
                                <button id="sample_editable_1_new" style="margin-right:10px;display:none" class="btn info blue" onclick="return validateShortDesc(this);">
                                    <i class="fa fa-edit"></i>  Update
                                </button>
                                <button id="sample_editable_1_new" style="margin-right:10px" class="btn red delete_btn" onclick="return DelTestimonial();">
                                    <i class="fa fa-trash-o"></i>  Delete
                                </button>
                                <button id="sample_editable_1_new" style="margin-right:23px" class="btn green" onclick="return ViewAddPage();">
                                    <i class="fa fa-plus"></i>  Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box grey-cascade">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>View All Testimonials
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse">
                                </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-bordered table-hover" id="sample_1">
                                <thead>
                                    <tr>
                                        <th class="table-checkbox">
                                            <input type="checkbox" class="checkboxes" data-set="#sample_1 .checkboxes" />
                                        </th>
                                        <th>
                                            Sr No.
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Sort Order
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="TBService"></tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- Start Add Testimonial-->
        <div id="DivTestimAdd2">
            <div class="page-bar" id="DivViewHeader2">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href='@Url.Action("dashboard","admin")'>Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href='@Url.Action("Testimonial","admin")'>Testimonial</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li id="AnchAddTestim">
                        Add
                    </li>
                </ul>
                <div class="page-toolbar">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            Actions <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href='@Url.Action("Testimonial","admin")'>Back</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption" id="HeadAddTest">
                        <i class="fa fa-globe"></i>Add Testimonials
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse">
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1"><label for="inputEmail3" class="control-label">Title</label><span style="color:red;"> * </span></div>
                            <div class="col-md-5"><input type="text" class="form-control" id="TxtTitle" placeholder="Title" autocomplete="off" required></div>
                            <div class="col-md-2"><label for="inputEmail3" class="control-label">Sort Order</label><span style="color:red;"> * </span></div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="TxtSortOrder" placeholder="Sort Order" autocomplete="off" onkeypress="return IsNumeric(event);"
                                       ondrop="return false;" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1"><label for="inputEmail3">Status</label><span style="color:red;"> * </span></div>
                            <div class="col-md-5">
                                <select id="DdlStatus" class="form-control" required>
                                    <option>-- Select --</option>
                                    <option>Active</option>
                                    <option>InActive</option>
                                </select>
                            </div>

                            <div class="col-md-2"><label for="inputEmail3">Name</label><span style="color:red;"> * </span></div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="TxtName" placeholder="Name" autocomplete="off" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2"><label for="inputEmail3">Image</label><span style="color:red;"> * </span></div>
                            <div class="col-md-3">
                                <input type="file" class="form-control" id="exampleInputFile" onchange="validateImage()">

                            </div>
                            <div class="col-md-3">
                                <img src="" class="img-auto" alt="" id="TestimImg" style="height:100px" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="row">
                            <label class="control-label col-md-1">Content<span class="required" aria-required="true"> * </span></label>
                            <div class="col-md-9">
                                <textarea class="ckeditor form-control" id="txtaboutcont" name="txtaboutcont"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn blue" id="BtnSave" onclick="return validateform();">Save</button>
                    <button type="button" class="btn default" onclick="return ClearControll();">Clear</button>
                </div>
            </div>
        </div>
        <!-- End Add Testimonial-->
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            BindShortDescr();
            BindTestimonial();
            $("#DivTestimAdd2").css("display", "none");
        });
        var imageurl = '@System.Configuration.ConfigurationManager.AppSettings["onlineimagelink"]';

        function ViewAddPage() {
            $("#DivTestimAdd2").css("display", "block");
            $("#DivViewTest").css("display", "none");
        }
        function BindShortDescr() {
         //  //debugger;
             $.ajax({
                type: "GET",
                 url: "@Url.Action("BindTestimonialMain", "admin")",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                   //   alert(JSON.stringify(data));
                    if (data.success == true) {
                        //alert(JSON.stringify(data.depart))
                        $.each(data.testimoni, function (index, item) {
                             // //debugger;
                            $("#TxtMaiTestimoni").val(item.TestiTitle).trigger('change');
                        })
                    }
                },
                fail: function (msg) {
                    alert(msg);
                }
            })
        }

        function UpdateTestimMain() {
            var dataobj = JSON.stringify({
                    'TestMID': 1,
                'TestMTitle': CKEDITOR.instances['TxtMaiTestimoni'].getData()
                });
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateTestimonialMain", "admin")",
                    data: dataobj,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //alert(JSON.stringify(response))
                        if (response.success == "false") {
                            // alert(response.msg);
                            swal({
                                title: "Warning!",
                                text: response.msg,
                                //text: "Please enter Department!",
                                type: "warning",
                                confirmButtonText: "Close",
                                //html: true,
                                icon: "warning",
                                closeOnConfirm: false, //It does close the popup when I click on close button
                                closeOnCancel: false,
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });
                        }
                        else {
                            //alert(response.msg);
                            swal({
                                title: "success!",
                                text: response.msg,
                                //text: "Please enter Department!",
                                type: "success",
                                confirmButtonText: "Close",
                                //html: true,
                                icon: "success",
                                closeOnConfirm: false, //It does close the popup when I click on close button
                                closeOnCancel: false,
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });
                            $("#portlet-config").modal('hide');
                            BindShortDescr();
                        }
                        //ClearControll();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        // alert(response.responseText);
                        swal({
                            title: "error!",
                            text: response.responseText,
                            //text: "Please enter Department!",
                            type: "error",
                            confirmButtonText: "Close",
                            //html: true,
                            icon: "error",
                            closeOnConfirm: false, //It does close the popup when I click on close button
                            closeOnCancel: false,
                            closeOnClickOutside: false,
                            closeOnEsc: false
                        });
                    }
                });
        }
        var TestimonialID;
        function BindTestimonial() {
            $.ajax({
                type: "GET",
                 url: "@Url.Action("BindTestimonial", "admin")",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //  alert(JSON.stringify(data));
                    if (data.success == true) {
                        var row = "";
                        var statusdisp = "";
                        $('#sample_1').DataTable().clear().destroy();
                        //alert(JSON.stringify(data.depart))
                        $.each(data.testimoni, function (index, item) {
                          //  //debugger;
                            if (item.IsActive == "True") {
                                statusdisp = "Active";
                            }
                            else
                            {
                                statusdisp = "InActive";
                            }
                            row += " <tr><td class='table-checkbox'><input type='checkbox' id='chktestimo' class='group-checkable' value=" + item.TestimonialID + " /></td><td>" + item.TestimonialID + "</td><td>" + item.TestiTitle + "</td><td>" + item.SortOrder + "</td><td>" + statusdisp + "</td><td onclick='return OPenConf(this);'><i class='fa fa-edit btn default btn-xs green'>Edit</i></td></tr>"
                        })
                        $("#TBService").html(row);

                        $('#sample_1').DataTable({
                            'paging': true,
                            'lengthChange': true,
                            'searching': true,
                            'ordering': true,
                            'info': true,
                            'autoWidth': false
                        })
                    }
                    else {
                        $("#TBService").html("");
                    }
                },
                fail: function (msg) {
                    alert(msg);
                }
            })
        }

        function AddTestimonial() {
            if ($("#BtnSave").html() == "Save") {
                var ddlstat = $("#DdlStatus").val();
                if (ddlstat == "Active") {
                    ddlstat = 1;
                }
                else {
                    ddlstat = 0;
                }
                var dataobj = JSON.stringify({
                    'TestiTitle': $("#TxtTitle").val(),
                    'TestimComments': CKEDITOR.instances['txtaboutcont'].getData() ,
                    'PersonName': $("#TxtName").val(),
                    'SortOrder': $("#TxtSortOrder").val(),
                    'IsActive': ddlstat
                });
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertTestimonial", "admin")",
                    data: dataobj,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.success == "false") {
                            //alert(response.msg);
                            swal({
                                title: "Warning!",
                                text: response.msg,
                                //text: "Please enter Department!",
                                type: "warning",
                                confirmButtonText: "Close",
                                //html: true,
                                icon: "warning",
                                closeOnConfirm: false, //It does close the popup when I click on close button
                                closeOnCancel: false,
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            })
                                //.then((willDelete) => {
                                //    if (willDelete) {
                                //        $("#TxtServiceType").focus();
                                //    }
                                //});
                        }
                        else {
                            var fileUpload = ($("#exampleInputFile"))[0].files[0];
                            var fileData = new FormData();
                            fileData.append(fileUpload.name, fileUpload);
                            fileData.append('Id', response.id);

                            $.ajax({
                                url: "@Url.Action("UploadFile", "admin")",
                                type: "POST",
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data
                                data: fileData,
                                success: function (result)
                                {
                                    if (result == "Testimonial Uploaded!") {
                                        swal({
                                            title: "success!",
                                            text: response.msg,
                                            //text: "Please enter Department!",
                                            type: "success",
                                            confirmButtonText: "Close",
                                            //html: true,
                                            icon: "success",
                                            closeOnConfirm: false, //It does close the popup when I click on close button
                                            closeOnCancel: false,
                                            closeOnClickOutside: false,
                                            closeOnEsc: false
                                        });
                                        $("#portlet-config").modal('hide');
                                        BindTestimonial();
                                        $("#DivTestimAdd2").css("display", "none");
                                        $("#DivViewTest").css("display", "Block");

                                    }
                                    else {
                                         swal({
                                                  title: "Warning!",
                                                  text: result,
                                                  //text: "Please enter Department!",
                                                  type: "warning",
                                                  confirmButtonText: "Close",
                                                  //html: true,
                                                  icon: "warning",
                                                  closeOnConfirm: false, //It does close the popup when I click on close button
                                                  closeOnCancel: false,
                                                  closeOnClickOutside: false,
                                                  closeOnEsc: false
                                              })
                                    }
                                },
                                error: function (err) {
                                    alert(err.statusText);
                                }
                            });




                        }
                        //msgDisplay();
                        ClearControll();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        //alert(response.responseText);
                        swal({
                            title: "error!",
                            text: response.responseText,
                            //text: "Please enter Department!",
                            type: "error",
                            confirmButtonText: "Close",
                            //html: true,
                            icon: "error",
                            closeOnConfirm: false, //It does close the popup when I click on close button
                            closeOnCancel: false,
                            closeOnClickOutside: false,
                            closeOnEsc: false
                        });
                    }
                });
            }
            else {
                var ddlstat = $("#DdlStatus").val();
                if (ddlstat == "Active") {
                    ddlstat = 1;
                }
                else {
                    ddlstat = 0;
                }
                var dataobj = JSON.stringify({
                    'TestimonialID': TestimonialID1,
                    'TestiTitle': $("#TxtTitle").val(),
                    'TestimComments': CKEDITOR.instances['txtaboutcont'].getData(),
                    'PersonName': $("#TxtName").val(),
                    'SortOrder': $("#TxtSortOrder").val(),
                    'IsActive': ddlstat
                });
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateTestimonial", "admin")",
                    data: dataobj,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        //alert(JSON.stringify(response))
                        if (response.success == "false") {
                            // alert(response.msg);
                            swal({
                                title: "Warning!",
                                text: response.msg,
                                //text: "Please enter Department!",
                                type: "warning",
                                confirmButtonText: "Close",
                                //html: true,
                                icon: "warning",
                                closeOnConfirm: false, //It does close the popup when I click on close button
                                closeOnCancel: false,
                                closeOnClickOutside: false,
                                closeOnEsc: false
                            });
                        }
                        else {
                            //alert(response.msg);
                             var fileUpload = ($("#exampleInputFile"))[0].files[0];
                           
                            if (fileUpload != null) {
                                 var fileData = new FormData();
                            fileData.append(fileUpload.name, fileUpload);
                            fileData.append('Id', response.TestimonialID);
                                $.ajax({
                                    url: "@Url.Action("UploadFile", "admin")",
                                    type: "POST",
                                    contentType: false, // Not to set any content header
                                    processData: false, // Not to process data
                                    data: fileData,
                                    success: function (result) {
                                        if (result == "Testimonial Uploaded!") {
                                            swal({
                                                title: "success!",
                                                text: response.msg,
                                                //text: "Please enter Department!",
                                                type: "success",
                                                confirmButtonText: "Close",
                                                //html: true,
                                                icon: "success",
                                                closeOnConfirm: false, //It does close the popup when I click on close button
                                                closeOnCancel: false,
                                                closeOnClickOutside: false,
                                                closeOnEsc: false
                                            });
                                            $("#portlet-config").modal('hide');
                                            BindTestimonial();
                                            $("#DivTestimAdd2").css("display", "none");
                                            $("#DivViewTest").css("display", "Block");

                                        }
                                        else {
                                            swal({
                                                title: "Warning!",
                                                text: result,
                                                //text: "Please enter Department!",
                                                type: "warning",
                                                confirmButtonText: "Close",
                                                //html: true,
                                                icon: "warning",
                                                closeOnConfirm: false, //It does close the popup when I click on close button
                                                closeOnCancel: false,
                                                closeOnClickOutside: false,
                                                closeOnEsc: false
                                            })
                                        }
                                    },
                                    error: function (err) {
                                        alert(err.statusText);
                                    }
                                });
                            }
                            else
                            {
                                 swal({
                                                title: "success!",
                                                text: response.msg,
                                                //text: "Please enter Department!",
                                                type: "success",
                                                confirmButtonText: "Close",
                                                //html: true,
                                                icon: "success",
                                                closeOnConfirm: false, //It does close the popup when I click on close button
                                                closeOnCancel: false,
                                                closeOnClickOutside: false,
                                                closeOnEsc: false
                                            });
                                            $("#portlet-config").modal('hide');
                                            BindTestimonial();
                                            $("#DivTestimAdd2").css("display", "none");
                                            $("#DivViewTest").css("display", "Block");
                            }
                            }
                        ClearControll();
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        // alert(response.responseText);
                        swal({
                            title: "error!",
                            text: response.responseText,
                            //text: "Please enter Department!",
                            type: "error",
                            confirmButtonText: "Close",
                            //html: true,
                            icon: "error",
                            closeOnConfirm: false, //It does close the popup when I click on close button
                            closeOnCancel: false,
                            closeOnClickOutside: false,
                            closeOnEsc: false
                        });
                    }
                });
            }
        }

        function ClearControll() {
            $("#TxtTitle").val('').trigger('change');
            $("#TxtSortOrder").val('').trigger('change');
            $("#DdlStatus").val('-- Select --');
            $("#txtaboutcont").val('').trigger('change');
            $("#TxtName").val('').trigger('change');
            $("#BtnSave").html("Save");
            $("#AnchAddTestim").html("Add");
            $("#HeadAddTest").html("Add Testimonial");
            $("#exampleInputFile").val('');
            //$("#H4PageTitle").html("Add Service Type")
           
        }

        function validateform() {
            ////debugger;
            var title = $("#TxtTitle").val();
            var sortorder = $("#TxtSortOrder").val();
            var status = $("#DdlStatus").val();
            var content = CKEDITOR.instances['txtaboutcont'].getData();
            var testimname = $("#TxtName").val();
            //var servicetype = $("#exampleInputFile").val();

            if (title == null || title == "") {
                swal({
                    title: "Warning!",
                    text: "Title can't be blank",
                    type: "warning",
                    confirmButtonText: "Close",
                    icon: "warning",
                    closeOnConfirm: false, //It does close the popup when I click on close button
                    closeOnCancel: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $("#TxtTitle").focus();
                        }
                    });
                return false;
            }
            else if (sortorder == null || sortorder == "") {
                swal({
                    title: "Warning!",
                    text: "Sort Order can't be blank.",
                    type: "warning",
                    confirmButtonText: "Close",
                    icon: "warning",
                    closeOnConfirm: false, //It does close the popup when I click on close button
                    closeOnCancel: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $("#TxtSortOrder").focus();
                        }
                    });
                return false;
            }

            else if (status == null || status == "" || status == "-- Select --" || status == "0") {
                swal({
                    title: "Warning!",
                    text: "Status can't be blank.",
                    type: "warning",
                    confirmButtonText: "Close",
                    icon: "warning",
                    closeOnConfirm: false, //It does close the popup when I click on close button
                    closeOnCancel: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                });
                return false;
            }
            else if (testimname == null || testimname == "") {
                swal({
                    title: "Warning!",
                    text: "Name can't be blank",
                    type: "warning",
                    confirmButtonText: "Close",
                    icon: "warning",
                    closeOnConfirm: false, //It does close the popup when I click on close button
                    closeOnCancel: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $("#TxtName").focus();
                        }
                    });
                return false;
            }
            else if (content == null || content == "") {
                swal({
                    title: "Warning!",
                    text: "Content can't be blank",
                    type: "warning",
                    confirmButtonText: "Close",
                    icon: "warning",
                    closeOnConfirm: false, //It does close the popup when I click on close button
                    closeOnCancel: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $("#txtaboutcont").focus();
                        }
                    });
                return false;
            }

            else {
                AddTestimonial();
            }
        }

        function OPenConf(TestimonialID) {
            var row = $(TestimonialID).closest("TR");
            var TestimonialID = $("TD", row).eq(1).html();
            TestimonialID1 = TestimonialID;
            EditTestimonial(TestimonialID);
        }
        function ChangeTextWhenEdit() {
            $("#AnchAddTestim").html("Edit");
            $("#HeadAddTest").html("Edit Testimonial");
        }

        function EditTestimonial(TestimonialID) {
            $.ajax({
                type: "GET",
                data: { 'TestimonialID': TestimonialID },
                url: "@Url.Action("EditTestimonial", "admin")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    ////debugger;
                    ClearControll();
                    ViewAddPage();
                    ChangeTextWhenEdit();
                    
                    $("#TxtTitle").val(response.Testimoni[0].TestiTitle).trigger('change');
                    $("#TxtName").val(response.Testimoni[0].PersonName).trigger('change');
                    $("#TxtSortOrder").val(response.Testimoni[0].SortOrder).trigger('change');
                    //$("#txtaboutcont").val(response.Testimoni[0].TestimComments).trigger('change');
                    CKEDITOR.instances['txtaboutcont'].setData(response.Testimoni[0].TestimComments);

                    $("#TestimImg").attr('src', imageurl+response.Testimoni[0].PersonImage);
                    if (response.Testimoni[0].IsActive == "True") {
                        $("#DdlStatus").val('Active').trigger('change');
                    }
                    else {
                        $("#DdlStatus").val('InActive').trigger('change');
                    }

                    $("#BtnSave").html("Update");
                    //$("#H4PageTitle").html("Edit Service Type");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    swal({
                        title: "error!",
                        text: response.responseText,
                        //text: "Please enter Department!",
                        type: "error",
                        confirmButtonText: "Close",
                        //html: true,
                        icon: "error",
                        closeOnConfirm: false, //It does close the popup when I click on close button
                        closeOnCancel: false,
                        closeOnClickOutside: false,
                        closeOnEsc: false
                    });
                }
            });
        }

        function DelTestimonialF(DelTestimonialID) {
            var dataobj = JSON.stringify({
                'TestimonialID': DelTestimonialID
            });
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteTestimonial", "admin")",
                data: dataobj,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.success == "false") {
                        //alert(response.msg);
                        swal({
                            title: "Warning!",
                            text: response.msg,
                            //text: "Please enter Department!",
                            type: "warning",
                            confirmButtonText: "Close",
                            //html: true,
                            icon: "warning",
                            closeOnConfirm: false, //It does close the popup when I click on close button
                            closeOnCancel: false,
                            closeOnClickOutside: false,
                            closeOnEsc: false
                        });
                    }
                    else {
                        //alert(response.msg);
                        swal({
                            title: "success!",
                            text: response.msg,
                            //text: "Please enter Department!",
                            type: "success",
                            confirmButtonText: "Close",
                            //html: true,
                            icon: "success",
                            closeOnConfirm: false, //It does close the popup when I click on close button
                            closeOnCancel: false,
                            closeOnClickOutside: false,
                            closeOnEsc: false
                        });
                        $("#modal-default").modal('hide');
                        BindTestimonial();
                        ClearControll();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    //alert(response.responseText);
                    swal({
                        title: "error!",
                        text: response.responseText,
                        //text: "Please enter Department!",
                        type: "error",
                        confirmButtonText: "Close",
                        //html: true,
                        icon: "error",
                        closeOnConfirm: false, //It does close the popup when I click on close button
                        closeOnCancel: false,
                        closeOnClickOutside: false,
                        closeOnEsc: false
                    });
                }
            });
        }
        function DelTestimonial() {
            swal({
                title: "Are you sure you want to delete this Record?",
                text: "Once deleted, you will not be able to recover this Record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                closeOnConfirm: false, //It does close the popup when I click on close button
                closeOnCancel: false,
                closeOnClickOutside: false,
                closeOnEsc: false
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $('#sample_1').find('input[type="checkbox"]:checked').each(function () {
                            var DelTestimonialID = $(this).val();
                            DelTestimonialF(DelTestimonialID);
                            //this is the current checkbox
                            //var DelCareerID = $(this).val();
                        });

                    } else {
                        swal("Your Record is safe!");
                    }
                });
        }


        var specialKeys = new Array();
        specialKeys.push(8); //Backspace

        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            //document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }

        function validateImage() {
            // //debugger;
            //debugger;
            //readURL(this);

            var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("exampleInputFile").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("TestimImg").src = oFREvent.target.result;
        };

            var formData = new FormData();

            var file = document.getElementById("exampleInputFile").files[0];

            if (file != "" && file != undefined) {
                formData.append("Filedata", file);
                var t = file.type.split('/').pop().toLowerCase();
                if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
                    //alert('Please select a valid image file');
                    swal({
                        title: "Warning!",
                        text: "Please select a valid image file!",
                        //text: "Please select a valid image file!",
                        type: "warning",
                        confirmButtonText: "Close",
                        //html: true,
                        icon: "warning",
                        closeOnConfirm: false, //It does close the popup when I click on close button
                        closeOnCancel: false,
                        closeOnClickOutside: false,
                        closeOnEsc: false
                    });
                    document.getElementById("exampleInputFile").value = '';
                    return false;
                }
                if (file.size > 1024000) {
                    //alert('Max Upload size is 1MB only');
                    swal({
                        title: "Warning!",
                        text: "Max Upload size is 1MB only!",
                        //text: "Max Upload size is 1MB only!",
                        type: "warning",
                        confirmButtonText: "Close",
                        //html: true,
                        icon: "warning",
                        closeOnConfirm: false, //It does close the popup when I click on close button
                        closeOnCancel: false,
                        closeOnClickOutside: false,
                        closeOnEsc: false
                    });
                    document.getElementById("exampleInputFile").value = '';
                    return false;
                }
                return true;
            }
    }
        
           
        function validateShortDesc() {
            var shortdesc = CKEDITOR.instances['TxtMaiTestimoni'].getData();
            if (shortdesc == null || shortdesc == "") {

                swal({
                    title: "Warning!",
                    text: "Short Description can't be blank",
                    type: "warning",
                    confirmButtonText: "Close",
                    icon: "warning",
                    closeOnConfirm: false, //It does close the popup when I click on close button
                    closeOnCancel: false,
                    closeOnClickOutside: false,
                    closeOnEsc: false
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $("#TxtTitle").focus();
                        }
                    });
                return false;
            }
            else {
                UpdateTestimMain();
            }
        }
    </script>
}


