<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 3.1.3
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Diamtrade | Admin Dashboard Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/admincss/assets/global/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/admincss/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/admincss/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/admincss/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/admincss/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/admincss/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/admincss/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/images/fav-icon.png" />
</head>

@*<body class="page-header-fixed page-quick-sidebar-over-content" oncontextmenu="return false;">*@
<body class="page-header-fixed page-quick-sidebar-over-content">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href='@Url.Action("dashboard","admin")'>
                    @*<img src="~/admincss/assets/admin/layout/img/diamtrade-logo.png" alt="logo" height="50px" class="logo-default" />*@
                    <img src="~/images/diamtrade-logo.png" style="width:85%;margin-top:2px" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle hide1" src="" />
                            <span class="username username-hide-on-mobile">
                                Admin
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li style="display:none">
                                <a href="extra_profile.html">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>

                            <li class="divider" style="display:none">
                            </li>
                            <li style="display:none">
                                <a href="extra_lock.html">
                                    <i class="icon-lock"></i> Lock Screen
                                </a>
                            </li>
                            <li>
                                <a onclick="Logout();">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->

    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
                    @*<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler">
            </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>*@
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

                    <li class="start active open">
                        <a href="@Url.Action("dashboard","admin")">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                            @*<span class="selected"></span>*@
                            @*<span class="arrow open"></span>*@
                        </a>

                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Home</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("home","admin")'>
                                    <i class="icon-users"></i>
                                    Home Page
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("SliderNew","admin")'>
                                    <i class="icon-users"></i>
                                    Slider
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("DesktopFeature","admin")'>
                                    <i class="icon-users"></i>
                                   Home Feaure
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("about","admin")'>
                            <i class="icon-users"></i>
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Testimonial</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("Testimonial_New","admin")'>
                                    <i class="icon-users"></i>
                                    Static Testimonials
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Testimonial","admin")'>
                                    <i class="icon-users"></i>
                                    Dynamic Testimonials
                                </a>
                            </li>
                        </ul>
                    </li>
                    @*<li>
            <a href='@Url.Action("Testimonial_New","admin")'>
                <i class="icon-users"></i>
                Static Testimonials
            </a>
        </li>
        <li>
            <a href='@Url.Action("Testimonial","admin")'>
                <i class="icon-users"></i>
                Dynamic Testimonials
            </a>
        </li>*@
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Career</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("Careers","admin")'>
                                    <i class="icon-users"></i>
                                    Career Page
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("CareerMessage","admin")'>
                                    <i class="icon-users"></i>
                                    Uploaded Career
                                </a>
                            </li>
                        </ul>
                    </li>
                   
                    <li style="display:none">
                        <a href='@Url.Action("Support","admin")'>
                            <i class="icon-users"></i>
                            Support
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Contact Us</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("Contactus","admin")'>
                                    <i class="icon-users"></i>
                                    Contact Us Page
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("ContactMessage","admin")'>
                                    <i class="icon-users"></i>
                                    Contact Message
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Gallery</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("GalleryTab","admin")'>
                                    <i class="icon-users"></i>
                                    Album Master
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("GalleryImage","admin")'>
                                    <i class="icon-users"></i>
                                    Gallery Image
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("Compare","admin")'>
                            <i class="icon-users"></i>
                            Compare
                        </a>
                    </li>

                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Products</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("Product","admin")'>
                                    <i class="icon-users"></i>
                                    Product Menu
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Desktop","admin")'><i class="icon-tag"></i> Desktop </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Cloud","admin")'><i class="icon-pencil"></i> Cloud </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Diamx","admin")'><i class="icon-graph"></i> Diamx </a>
                            </li>
                           
                            <li style="display:none">
                                <a href='@Url.Action("CloudFeature","admin")'>
                                    <i class="icon-users"></i>
                                    Cloud Feature
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Services</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("ServiceType","admin")'>
                                    <i class="icon-users"></i>
                                    Service Category
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Service","admin")'>
                                    <i class="icon-users"></i>
                                    Services
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">Inquiry</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("Inquiry","admin")'>
                                    <i class="icon-users"></i>
                                    Inquiry Page
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("InquiryMessage","admin")'>
                                    <i class="icon-users"></i>
                                    Inquiry Message
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href='@Url.Action("FooterBlock","admin")'>
                            <i class="icon-users"></i>
                            Footer Block
                        </a>
                    </li>

                    <li style="display:none">
                        <a href="javascript:;">
                            <i class="icon-docs"></i>
                            <span class="title">CMS</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href='@Url.Action("home","admin")'>
                                    <i class="icon-users"></i>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("about","admin")'>
                                    <i class="icon-users"></i>
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Testimonial_New","admin")'>
                                    <i class="icon-users"></i>
                                    Static Testimonials
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Testimonial","admin")'>
                                    <i class="icon-users"></i>
                                    Dynamic Testimonials
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("Careers","admin")'>
                                    <i class="icon-users"></i>
                                    Career Page
                                </a>
                            </li>
                            <li style="display:none">
                                <a href="javascript:;">
                                    <i class="icon-docs"></i>
                                    <span class="title">Careers</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href='@Url.Action("Careers","admin")'>
                                            <i class="icon-users"></i>
                                            Career Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ContactMessage","admin")'>
                                            <i class="icon-users"></i>
                                            View Careers
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='@Url.Action("Support","admin")'>
                                    <i class="icon-users"></i>
                                    Support
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-docs"></i>
                                    <span class="title">Contact Us</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href='@Url.Action("Contactus","admin")'>
                                            <i class="icon-users"></i>
                                            Contact Us Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("ContactMessage","admin")'>
                                            <i class="icon-users"></i>
                                            Contact Message
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='@Url.Action("Compare","admin")'>
                                    <i class="icon-users"></i>
                                    Compare
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-globe"></i> Products <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href='@Url.Action("Desktop","admin")'><i class="icon-tag"></i> Desktop </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Cloud","admin")'><i class="icon-pencil"></i> Cloud </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Diamx","admin")'><i class="icon-graph"></i> Diamx </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-docs"></i>
                                    <span class="title">Products Features</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href='@Url.Action("DesktopFeature","admin")'>
                                            <i class="icon-users"></i>
                                            Desktop Feature
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("CloudFeature","admin")'>
                                            <i class="icon-users"></i>
                                            Cloud Feature
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-docs"></i>
                                    <span class="title">Services</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href='@Url.Action("ServiceType","admin")'>
                                            <i class="icon-users"></i>
                                            Service Category
                                        </a>
                                    </li>
                                    <li>
                                        <a href='@Url.Action("Service","admin")'>
                                            <i class="icon-users"></i>
                                            Services
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='@Url.Action("slider","admin")'>
                                    <i class="icon-users"></i>
                                    Slider
                                </a>
                            </li>


                            <li>
                                <a href='@Url.Action("about","admin")'>
                                    <i class="icon-users"></i>
                                    Client
                                </a>
                            </li>
                            <li>
                                <a href='@Url.Action("FooterBlock","admin")'>
                                    <i class="icon-users"></i>
                                    Footer Block
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <!-- END SIDEBAR -->
        <div class="row">
            @RenderBody()
        </div>

    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2019 &copy; Diamtrade Control Panle
        </div>
        <div class="page-footer-tools">
            <span class="go-top">
                <i class="fa fa-angle-up"></i>
            </span>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/admincss/assets/global/plugins/respond.min.js"></script>
    <script src="~/admincss/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/admincss/assets/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/admincss/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
    <script src="~/admincss/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/admincss/assets/global/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/admincss/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/admincss/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/admincss/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/admincss/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/admincss/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="~/admincss/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/admincss/assets/global/plugins/ckeditor/ckeditor.js"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    <script src="~/admincss/sweetalert.min.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/admincss/assets/global/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/admincss/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/admincss/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/admincss/assets/admin/pages/scripts/table-managed.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        //  document.onkeydown = function (e) {
        //    if (event.keyCode == 123) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
        //        return false;
        //    }
        //    if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
        //        return false;
        //    }
        //}
        var cookie = $.cookie("username");
        if (cookie == null) {
         window.location.href = '@Url.Action("Index", "admin")';
        }


        function Logout() {
            $.ajax({
                type: "GET",
                 url: "@Url.Action("LogOut", "admin")",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert(JSON.stringify(response));
                    if (response=="Success") {
                        window.location.href = '@Url.Action("Index", "admin")';
                    }
                    else {
                        //alert(response.msg);
                    }
                    },
    failure: function (response) {
        alert(response.responseText);
        //alert("fail");
    },
    error: function (response) {
        alert(response.responseText);
        //alert("error");
    }
    });

        }
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Index.initIntro();
            Tasks.initDashboardWidget();
            TableManaged.init();
        });

      
    </script>
    @RenderSection("scripts", required: false);
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>